.navbar {
  width: 100%;
  height: 70px;
  background-color: transparent;
  display: flex;
  flex-direction: row;
  position: fixed;  
  font-weight: bold;;
  background-color: rgba(26,26,26,0.75);
  backdrop-filter: saturate(180%) blur(5px);
  z-index: 10;
}

.NavContainer{
  width: 100%;
  display:flex;
  padding: 15px;
  
}

.navbar .Logo {
  width: 130px;
  filter: invert(1);
}
.navbar a {
  color: rgb(0, 0, 0);
  text-decoration: none;
  
}
.navbar .rightSide svg {/* Tamanho hamburguer */
  font-size: 40px;
  margin-right: 30px;
}

.LinksContainer{
  flex:50%;
  display: flex;
  align-items: center;
  text-align: center;
  margin-top:5px;
}
.LinksContainer a{
    margin-left:50px;
    transition: background-color .3s linear,color .2s linear, border .2s;
}

.linkNav{
  margin-left:50px;
    transition: background-color .3s linear,color .2s linear, border .2s;
    color:white;
}
.linkNav:hover{
 color:gray;
}
.LinksContainer a:hover {
  color:white;
  
}

.iconImage :hover{
  color:rgb(230, 230, 230);
}
img.iconImage:hover{
  opacity: 0.5; 
}

.rightSide{
  flex:10%;
  display: flex;
  align-items: center;
  justify-content: center;
  text-align: center;
}

.navbar .rightSide button {
  background-color: transparent;
  border: none;
  color: rgb(255, 255, 255);
  cursor: pointer;
}


@media only screen and (min-width: 908px) {
  .navbar .rightSide  {
    display: none;
  }
}

@media only screen and (max-width: 907px) {
  .navbar .LinksContainer {
    display: none;
  }

  .navbar .SocialLinks {
    display: none;
  }
}


.menuRigth{
  display: flex;
  flex-direction: column;
  height: 100vh;
  width: 100vh;
  text-align: right;
  padding: 1.5rem;
  position: absolute;
  top: 0;
  right: 0;
  transition: transform 0.3s ease-in-out;
  background-color: rgba(0, 0, 0, 0.6); 
}

.menuRigth a{
      border-bottom: solid 1px;
      border-color: azure;
      font-size: 1.5rem;
      text-transform: uppercase;
      padding: 1rem 0;
      letter-spacing: 0.4rem;
      color:rgb(29, 155, 240);
}

.menuRigth button{
  text-align: right;
  margin-bottom: 50px;   
}

.menuRigth a:hover {
  color:rgb(199, 161, 38);
}

.navbar #close{
  display:none;
}

.footerMenu{
  color: white;
  
}
.footerMenu img.iconImage{
filter: invert(9%) sepia(96%) saturate(4407%) hue-rotate(281deg) brightness(104%) contrast(100%);
}
.footerMenu .iconImage, .footerMenu svg{
margin-left: 20px;
}

.navbar .rightSide .menuRigth svg {/* Tamanho hamburguer */
  font-size: 70px;
  margin-right: 0px;
  margin-top: 30px;
}


.SocialLinks{
  margin-right: 20px;
}

.SocialLinks .iconImage{
  filter: invert(1);
  width: 40px;
  font-size: 40px;
}
.activeLink{
  opacity: 0.5;
}

img.iconImage{
  margin-bottom: 2px;
  margin-right: 9px;
  
}
.MuiSvgIcon-root.iconImage{
  margin-right: 5px;
}
.comming-soon{
  line-height: 200%;  
}

.linkMail{
  right: 0px;
  border-radius: 5px;
  border: solid 1px ;
  background-color: #f6de28;
  padding: 0 5px 0px 5px;
  font-size: 16px;
}